body,
html {
	background: #0c1022;
	color: #fff;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #fff;
}

p {
	color: #fff;
}

#portfolio {
	font-size: 20px;
	color: #fff;
	font-weight: 600;
}



.nav-link {
	font-size: 18px;
	color: #fff;
	font-weight: 600;
	margin-left: 30px;
}

#active {
	background: linear-gradient(45deg, #f06, #3cf);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.nav-link:hover {
	background: linear-gradient(45deg, #f06, #3cf);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.herosection {
	margin-left: 60px;
	margin-top: 70px;
	margin-bottom: 65px;
}

.lead {
	margin-top: 10px;
	margin-bottom: 30px;
}


#HeroImage {
	height: 400px;
	width: 400px;
	border-radius: 50%;
	border: 7px solid rgb(235, 83, 144);
}


#hirebutton {
	border-radius: 40px;
	font-weight: 600;
	width: 180px;
	height: 48px;
	letter-spacing: 1px;
	font-size: larger;
	color: #fff;
	background: linear-gradient(45deg, #f06, #3cf, #f06);
	transition: color 0.3s ease, background 0.3s ease;
	transition: all 0.3s ease 0s;
}

#hirebutton:hover {
	background: linear-gradient(45deg, #3cf, #f06, #3cf);
}

@media only screen and (min-width: 300px) and(max-width:380px) {
	#HeroImage {
		height: 20px;
		width: 20px;
	}
}

@media only screen and (max-width: 425px) {
	#HeroImage {
		height: 200px;
		width: 200px;
	}
}

@media only screen and (min-width: 425px) and (max-width:560px) {
	#HeroImage {
		height: 300px;
		width: 300px;
	}
}

.aboutme {
	background: #15192e;
	padding-bottom: 25px;
}

#aboutmeheading {
	margin-bottom: 40px;
}

.text-center {
	margin-bottom: 20px;
}

#aboutmeimg {
	border-radius: 50%;
	margin-top: 15px;
	margin-bottom: 20px;
	border: 7px solid rgb(117, 210, 241);
}

.education {
	width: 100%;
	height: auto;
	display: grid;
	place-items: center;
	padding-top: 20px;
	padding-bottom: 60px;
}

.education .head {
	font-size: 29px;
	color: rgb(22, 166, 233);
	position: relative;
	margin-bottom: 120px;
	font-weight: 500;
}

.container {
	width: 70%;
	height: auto;
	margin: auto 0;
	position: relative;
}

.container ul {
	list-style: none;
}

.container ul::after {
	content: " ";
	position: absolute;
	width: 2px;
	height: 100%;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	background-image: linear-gradient(to bottom, #3cf, #f06);
}

.container ul li {
	width: 50%;
	height: auto;
	padding: 15px 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.218);
	position: relative;
	margin-bottom: 30px;
	z-index: 99;
}



.certificate-link {
	font-weight: 400;
	text-decoration: none;
}

.container ul li .circle {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: rgb(117, 210, 241);
	top: 0;
	display: grid;
	place-items: center;
}

.circle::after {
	content: ' ';
	width: 12px;
	height: 12px;
	background-color: rgb(117, 210, 241);
	border-radius: 50%;
}

ul li:nth-child(odd) .circle {
	transform: translate(50%, -50%);
	right: -15px;
}

ul li:nth-child(even) .circle {
	transform: translate(-50%, -50%);
	left: -45px;
}

ul li .date {
	position: absolute;
	width: 160px;
	height: 33px;
	background-image: linear-gradient(45deg, #f06, #3cf, #f06);
	border-radius: 15px;
	top: -45px;
	display: grid;
	place-items: center;
	color: #fff;
	font-size: 13px;
	box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.318);
}

.container ul li:nth-child(odd) {
	float: left;
	clear: right;
	text-align: right;
	transform: translateX(-30px);
}

ul li:nth-child(odd) .date {
	right: 20px;
}

.container ul li:nth-child(even) {
	float: right;
	clear: left;
	transform: translateX(30px);
}

ul li .heading {
	font-size: 17px;
	color: #3cf;
}

ul li p {
	font-size: 13px;
	color: #666;
	line-height: 18px;
	margin: 6px 0 4px 0;
}

@media only screen and (min-width:798px) and (max-width: 1100px) {
	.container {
		width: 80%;
	}
}

@media only screen and (max-width: 798px) {
	.container {
		width: 70%;
		transform: translateX(20px);
	}

	.container ul::after {
		left: -40px;
	}

	.container ul li {
		width: 100%;
		float: none;
		clear: none;
		margin-bottom: 80px;
	}

	.container ul li .circle {
		left: -83px;
		transform: translate(-50%, -50%);
	}

	.container ul li .date {
		left: 20px;
	}

	.container ul li:nth-child(odd) {
		transform: translateX(0px);
		text-align: left;
	}

	.container ul li:nth-child(even) {
		transform: translateX(0px);
	}
}

@media only screen and (max-width: 550px) {
	.container {
		width: 80%;
	}

	.container ul::after {
		left: -20px;
	}

	.container ul li .circle {
		left: -65px;
	}
}

.skills-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.skill {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 300px;
	margin: 10px;
	background-color:#fff;
	border-radius: 20px;
	transition: all 0.3s ease 0s;
}

.skill:hover{
	transform: translateY(-8px);
}

.image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 180px;
	width: 180px;
	margin-bottom: 10px;
}

.skill-1 {
	background-image: url('imgs/html-5.png');
	background-size: cover;
}

.skill-2 {
	background-image: url('imgs/css.png');
	background-size: cover;
}

.skill-3 {
	background-image: url('imgs/bootstrap.png');
	background-size: cover;
}

.skill-4 {
	background-image: url('imgs/js.png');
	background-size: cover;
	border-radius: 17px;
}


.skills {
	background-color: #15192e;
	padding-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 60px;
}

.projects {
	padding-top: 20px;
	padding-bottom: 60px;
}

.projects-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.project {
	background-color: #fff;
	width: 380px;
	margin: 10px 12px;
	border-radius: 20px;
	padding: 30px;
	transition: all 0.3s ease 0s;
}

.project:hover{
	transform: translateY(-8px);
	background-color: #f5f0f0;
	cursor: pointer;
}

.project-image {
	height: 180px;
	background-color: #3cf;
	border-radius: 19px;
}

.project-1{
	background-image: url('imgs/Nitas Bites.png');
	background-size: cover;
}

.project-2{
	background-image: url('imgs/BossBraids.png');
	background-size: cover;
}

.project-3{
	background-image: url('imgs/bistrobliss.png');
	background-size: cover;
}

.project-title {
	display: flex;
	justify-content: center;
	color: #3cf;
	margin:8px;
}

.project-description {
	align-text: center;
	color: #666;
}

.project-button-holder{
	display: flex;
	justify-content: center;
}

.project-btn{
	border-radius:10px;
	padding:12px 16px;
	background-color: #3cf;
	color: #fff;
	border: 1px solid #3cf;
	font-weight: 600;
	transition: all 0.3s ease 0s;
}

.project-btn:hover{
	background-color: rgb(51, 175, 216);
}

#contactmeb {
	background-color: #3cf;
	color: #fff;
}


.contactme {
	background-color: #15192e;
	margin-top: 36px;
	padding-top: 20px;
	padding-bottom: 60px;
}



input {
	height: 56px;
	border-radius: 12px;
	border: 1px solid #3cf;
	outline: none;
	width: 95%;
	padding: 0 8px 0 16px;
	background-color: #0c1022;
	color: #fff;
}

.input-name {
	margin-bottom: 10px;
}

.first-name {

	margin-bottom: 10px;
}



.input-email {
	margin-bottom: 10px;
}

.input-subject {
	margin-bottom: 10px;
}

.input-message {
	margin-bottom: 20px;
}

.input-name input {
	width: 95%;
}

.btn-submit {
	background-color: #3cf;
	width: 95%;
	color: #fff;
}

.btn-submit:hover {
	background-color: rgb(22, 116, 147);
	color: #fff;

}

.container-border {
	padding: 0 10px;
}






@media only screen and (min-width: 768px) {

	.contactme {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 24px;
	}

	input {
		width: 456px;
	}

	.input-name {
		display: flex;
		gap: 12px;
		width: 452px;

	}


	.btn-submit {

		width: 456px;

	}

	.container-border {
		border: 1px solid #3cf;
		border-radius: 10px;
		width: 630px;
		height: 430px;
		padding: 60px 70px;

	}

}